<template>
  <div class="yang/jian-container"></div>
</template>

<script>
  export default {
    name: 'YangJian',
    components: {},
    data() {
      return {}
    },
    created() {},
    mounted() {},
    methods: {},
  }
</script>
