<template>
  <div class="m-4">
    <b-container>
<!--      <b-nav>-->
<!--        <b-nav-item to="/" >{{nav.token}}</b-nav-item>-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/scopes_list/" >{{nav.scopes}}</b-nav-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/api_usage_list/">{{nav.usage}}</b-nav-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>&ndash;&gt;-->
<!--        <b-nav-item >{{nav.usage}}</b-nav-item>-->
<!--        <b-nav-item >{{nav.changelog}}</b-nav-item>-->
<!--        <b-nav-item-dropdown-->
<!--          toggle-class="y-text-warning"-->
<!--          id="my-nav-dropdown"-->
<!--          :text="nav.center"-->
<!--          right-->
<!--        >-->
<!--          <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>-->
<!--&lt;!&ndash;          <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>&ndash;&gt;-->
<!--          <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>-->
<!--        </b-nav-item-dropdown>-->
<!--      </b-nav>-->

      <div class=" text-left">
        <label class="text-body font-weight-bold my-3 mr-sm-2 ">{{perfect_info.title}}</label>
        <b-row>
          <b-col>
            <b-form-group class="text-body my-3 font-weight-bold" :label="perfect_info.nickname" style="text-align: start">
              <b-form-input
                v-model="account.username"
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col class="my-3">
            <b-form inline class="d-flex justify-content-between">
              <label class="mr-sm-2  text-body font-weight-bold">{{perfect_info.email}}</label>
              <b-link variant="link" class="text-right px-0 text-decoration-none y-text-warning font-weight-bold " to="/gamecenter/change_email_list/">{{perfect_info.resetemail}}</b-link>
            </b-form>
            <b-form-group class="y-pt-7" style="text-align: start">
              <b-form-input
                v-model="$store.state.user.email"
                disabled
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group :label="perfect_info.mobile" class="font-weight-bold">
              <b-form-input
                v-model="account.cell_phone"
                required
                placeholder=""
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :label="perfect_info.phone" class="font-weight-bold">
              <b-form-input
                v-model="account.tele_phone"
                required
                placeholder=""
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group v-if="$i18n.locale == 'zh'" :label="perfect_info.country" class="font-weight-bold">
              <b-form-select
                v-model="account.country"
                :options="regions_list_zh"
                class="mb-3"
                value-field="id"
                text-field="name"
                disabled-field="notEnabled"
              >
              </b-form-select>
            </b-form-group>
            <b-form-group v-if="$i18n.locale == 'en'" :label="perfect_info.country" class="font-weight-bold">
              <b-form-select
                v-model="account.country"
                :options="regions_list_en"
                class="mb-3"
                value-field="id"
                text-field="e_name"
                disabled-field="notEnabled"
              >
              </b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group :label="perfect_info.time_zone" class="font-weight-bold">
              <b-form-select
                v-model="account.time_zone"
                :options="time_zone_list"
                class="mb-3"
              >
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button variant="success" class="my-3 px-5 btn-violet" @click="onPersonal">{{perfect_info.but}}</b-button>


        <div v-if="false">
          <b-form inline>
            <label class="text-body font-weight-bold my-3 mr-sm-2 ">{{message_title.title}}</label>
            <h3 class="text-right px-0 text-decoration-none y-text-warning">{{this.$store.state.user.email}}</h3>
          </b-form>
          <label>{{message_title.title_hint}}</label>
          <b-form inline v-if="!form.type&&!form_company.type">
            <label class="text-body font-weight-bold my-3 mr-sm-2 ">{{message_title.Identity_type.type}}</label>
            <b-form-radio-group
              v-model="form.personal"
              :options="identity_type_list"
              name="radio-inline"
            ></b-form-radio-group>
          </b-form>
          <!--        个人认证-->
          <b-container v-if="form.personal === '1'||form.type === 'personal'" class="bv-example-row">
            <b-row>
              <b-col>
                <b-form-group :label="message_title.first_name" class="font-weight-bold">
                  <b-form-input
                    v-model="form.name"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group :label="message_title.last_name" class="font-weight-bold">
                  <b-form-input
                    v-model="form.surname"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="message_title.country" class="font-weight-bold">
                  <b-form-select
                    @change="get_country"
                    v-model="census.country"
                    :options="regions_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group :label="message_title.address" class="font-weight-bold">
                  <b-form-select
                    @change="get_province"
                    v-model="census.province"
                    :options="province_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="message_title.city" class="font-weight-bold">
                  <b-form-select
                    v-model="census.city"
                    :options="city_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="message_title.region" class="font-weight-bold">
                  <b-form-input
                    v-model="form.detailed_address"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
              </b-col>
            </b-row>
            <b-form>
              <b-form-checkbox
                name="status"
                v-validate="'required'"
                :data-vv-as=message.password
                :state="validateState('status')"
                class="font-weight-bold small"
                v-model="form.status"
                value=1
                unchecked-value=''
              >
                {{message_title.footer}}
              </b-form-checkbox>
              <b-form-invalid-feedback id="status">{{veeErrors.first('status')}}</b-form-invalid-feedback>
            </b-form>


            <b-button variant="success" class="my-3 px-5" @click="onPersonal">{{message_title.button}}</b-button>
          </b-container>
          <!--        企业认证-->
          <b-container v-if="form.personal === '2'||form_company.type === 'enterprise'" class="bv-example-row">
            <b-row>
              <b-col>
                <b-form-group :label="company_message_title.company_name" class="font-weight-bold">
                  <b-form-input
                    v-model="form_company.legal_name"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group :label="company_message_title.company_address" class="font-weight-bold">
                  <b-form-input
                    v-model="form_company.business_address"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="message_title.country" class="font-weight-bold">
                  <b-form-select
                    @change="get_country"
                    v-model="census.country"
                    :options="regions_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group :label="message_title.address" class="font-weight-bold">
                  <b-form-select
                    @change="get_province"
                    v-model="census.province"
                    :options="province_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="message_title.city" class="font-weight-bold">
                  <b-form-select
                    v-model="census.city"
                    :options="city_list"
                    class="mb-3"
                    value-field="id"
                    text-field="name"
                    disabled-field="notEnabled"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col>
              </b-col>
            </b-row>
            <b-form-group :label="company_message_title.info_title" class="font-weight-bold">
            </b-form-group>
            <b-row>
              <b-col>
                <b-form-group :label="company_message_title.first_name" class="font-weight-bold">
                  <b-form-input
                    v-model="form_company.name"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
                <b-form-group :label="company_message_title.last_name" class="font-weight-bold">
                  <b-form-input
                    v-model="form_company.surname"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-form-group :label="company_message_title.email" class="font-weight-bold">
                  <b-form-input
                    v-model="form_company.email"
                    required
                    placeholder="Enter name"
                  ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col>
              </b-col>
            </b-row>
            <b-form-checkbox
              name="status"
              v-validate="'required'"
              :data-vv-as=message.password
              :state="validateState('status')"
              class="font-weight-bold small"
              v-model="form_company.status"
              value="1"
              unchecked-value=""
            >
              {{company_message_title.footer}}
              <b-form-invalid-feedback id="status">{{veeErrors.first('status')}}</b-form-invalid-feedback>
            </b-form-checkbox>
            <b-button variant="success" class="my-3 px-5" @click="onCompany">{{company_message_title.button}}</b-button>
          </b-container>
        </div>

      </div>

    </b-container>
  </div>

</template>

<script>
  import {attestation_personal, attestation_enterprise, regions, new_password, attestation_detail, account_information} from '../../api/games/user_dashboad'
  import { getUserInfo } from '../../api/user'
    export default {
      name: "center_list",
      data() {
        return {
          account: {
            username: '',
            cell_phone: '',
            tele_phone: '',
            country: '',
            time_zone: '',
          },
          time_zone_list: [
            {value: '0', text: 'UTC'},
            {value: '1', text: 'UTC+1'},
            {value: '2', text: 'UTC+2'},
            {value: '3', text: 'UTC+3'},
            {value: '4', text: 'UTC+4'},
            {value: '5', text: 'UTC+5'},
            {value: '6', text: 'UTC+6'},
            {value: '7', text: 'UTC+7'},
            {value: '8', text: 'UTC+8'},
            {value: '9', text: 'UTC+9'},
            {value: '10', text: 'UTC+10'},
            {value: '11', text: 'UTC+11'},
            {value: '12', text: 'UTC+12'},
            {value: '-1', text: 'UTC-1'},
            {value: '-2', text: 'UTC-2'},
            {value: '-3', text: 'UTC-3'},
            {value: '-4', text: 'UTC-4'},
            {value: '-5', text: 'UTC-5'},
            {value: '-6', text: 'UTC-6'},
            {value: '-7', text: 'UTC-7'},
            {value: '-8', text: 'UTC-8'},
            {value: '-9', text: 'UTC-9'},
            {value: '-10', text: 'UTC-10'},
            {value: '-11', text: 'UTC-11'},
            {value: '-12', text: 'UTC-12'},

          ],
          username: '',
          census: {
            country: '',
            province: '',
            city: ''
          },
          city_list: [],
          province_list: [],
          regions_list_en: [],
          regions_list_zh: [],
            form: {
            personal: '',
            name: '',
            surname: '',
            province_municipalitie: '',
            city: '',
            detailed_address: '',
            status: '',
            type: ''
          },
          form_company: {
            name: '',
            business_address: '',
            legal_name: '',
            surname: '',
            city: '',
            email: ''
          },
          identity_type_list: [
            { text: this.$t('message_title.Identity_type.Personal'), value: '1' },
            { text: this.$t('message_title.Identity_type.Company'), value: '2' }
          ],
          message: {
            username: this.$t('message.username'),
            password: this.$t('message.password'),
            password1: this.$t('message.password1'),
            code: this.$t('message.code'),
          },
          nav: {
            token: this.$t('nav.token'),
            scopes: this.$t('nav.scopes'),
            usage: this.$t('nav.usage'),
            changelog: this.$t('nav.changelog'),
            center: this.$t('nav.center'),
            authentication:  this.$t('nav.authentication'),
            mailbox_setting: this.$t('nav.mailbox_setting'),
            password_setting: this.$t('nav.password_setting')
          },
          // 认证信息——公共
          perfect_info: {
            title: this.$t('perfect_info.title'),
            nickname: this.$t('perfect_info.nickname'),
            email: this.$t('perfect_info.email'),
            resetemail: this.$t('perfect_info.resetemail'),
            mobile: this.$t('perfect_info.mobile'),
            phone: this.$t('perfect_info.phone'),
            country: this.$t('perfect_info.country'),
            time_zone: this.$t('perfect_info.time_zone'),
            but: this.$t('perfect_info.but'),
            hint_win: this.$t('perfect_info.hint_win'),
          },
          // 认证信息-个人
          message_title: {
            title: this.$t('message_title.title'),
            title_hint: this.$t('message_title.title_hint'),
            Identity_type: {
              type: this.$t('message_title.Identity_type.type'),
              Personal: this.$t('message_title.Identity_type.Personal'),
              Company: this.$t('message_title.Identity_type.Company')
            },
            first_name: this.$t('message_title.first_name'),
            last_name: this.$t('message_title.last_name'),
            country: this.$t('message_title.country'),
            address: this.$t('message_title.address'),
            city: this.$t('message_title.city'),
            region: this.$t('message_title.region'),
            footer: this.$t('message_title.footer'),
            button: this.$t('message_title.button')
          },
          // 认证信息-企业
          company_message_title: {
            company_name: this.$t('company_message_title.company_name'),
            company_address: this.$t('company_message_title.company_address'),
            city: this.$t('company_message_title.city'),
            info_title: this.$t('company_message_title.info_title'),
            first_name: this.$t('company_message_title.first_name'),
            last_name: this.$t('company_message_title.last_name'),
            email:this.$t('company_message_title.email'),
            footer: this.$t('company_message_title.footer'),
            button: this.$t('company_message_title.button')
          }
        }
      },
      mounted() {
        this.get_account()
        this.get_regions()
      },
      methods: {
        get_account() {
          const params = {}
          getUserInfo(params).then(res => {
            this.account = res.data
          })
          // this.account.username = this.$store.state.user.user.username
          // this.account.cell_phone = this.$store.state.user.user.cell_phone
          // this.account.country = this.$store.state.user.user.country
          // this.account.tele_phone = this.$store.state.user.user.tele_phone
          // this.account.time_zone = this.$store.state.user.user.time_zone
        },
        onPersonal() {
          this.$validator.validateAll().then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['username'] = this.account.username,
              params['cell_phone'] = this.account.cell_phone,
              params['country'] = this.account.country,
              params['tele_phone'] = this.account.tele_phone,
              params['time_zone'] = this.account.time_zone,
            account_information(params).then(res => {
              this.$root.$bvToast.toast(this.perfect_info.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.get_account()
            })
          })
        },
        get_attestation_detail() {
          const params = {}
          attestation_detail(params).then(res => {
            if (res.data) {
              if (res.data.type === 'enterprise') {
                this.form_company = res.data
              } else {
                this.form = res.data
              }
              this.census.country = res.data.country
              this.census.province = res.data.province_municipalitie
              this.census.city = res.data.city
              this.get_country(this.census.country)
              // this.get_province(this.census.province)
            }
          })
        },
        validateState(ref) {
          if (
            this.veeFields[ref] &&
            (this.veeFields[ref].dirty || this.veeFields[ref].validated)
          ) {
            return !this.veeErrors.has(ref);
          }
          return null;
        },
        // get_province(id) {
        //   this.province_list.forEach(item => {
        //     if (item.id == id) {
        //       this.city_list = item.children
        //     }
        //   })
        // },
        // get_country(id) {
        //   console.log(id)
        //   this.regions_list.forEach(item => {
        //     if (item.id == id) {
        //       this.province_list = item.children
        //     }
        //   })
        // },
        get_regions() {
          const params = {}
          regions(params).then(res => {
            this.regions_list_en = res.data.en
            this.regions_list_zh = res.data.zh
            // this.get_attestation_detail()
          })
        },
        onCompany() {
          this.$validator.validateAll().then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['name'] = this.form_company.name,
              params['legal_name'] = this.form_company.legal_name,
              params['surname'] = this.form_company.surname,
              params['email'] = this.form_company.email,
              params['country'] = this.census.country,
              params['province_municipalitie'] = this.census.province,
              params['city'] = this.census.city,
              params['business_address'] = this.form_company.business_address
            attestation_enterprise(params).then(res => {
              this.$bvToast.toast(this.perfect_info.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
            })
          })
        }
      }
    }
</script>

<style scoped>
  @import url(~bootstrap/dist/css/bootstrap.css);
  @import url(~bootstrap-vue/dist/bootstrap-vue.css);
  .y-mt-6 {
    /*margin-top: 3rem !important;*/
    padding: 1rem;

  }
  .y-pt-7 {
    padding-top: 7px !important;
  }
</style>
