<template>
  <div class="m-4">
    <b-container>
<!--      <b-nav>-->
<!--        <b-nav-item to="/" >{{nav.token}}</b-nav-item>-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/scopes_list/" >{{nav.scopes}}</b-nav-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/api_usage_list/">{{nav.usage}}</b-nav-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>&ndash;&gt;-->
<!--        <b-nav-item >{{nav.usage}}</b-nav-item>-->
<!--        <b-nav-item>{{nav.changelog}}</b-nav-item>-->
<!--        <b-nav-item-dropdown-->
<!--          toggle-class="y-text-warning"-->
<!--          id="my-nav-dropdown"-->
<!--          :text="nav.center"-->
<!--          right-->
<!--        >-->
<!--          <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>-->
<!--&lt;!&ndash;          <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>&ndash;&gt;-->
<!--          <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>-->
<!--        </b-nav-item-dropdown>-->
<!--      </b-nav>-->

      <div class=" text-left">
        <table class="font-weight-bold my-3">{{change_password.title}}</table>
        <b-row>
          <b-col>
            <b-form-group class="text-body my-3 font-weight-bold" :label="change_password.old_password" style="text-align: start">
              <b-form-input
                name="oldpassword"
                v-validate.continues="{required: true, y_password: true}"
                :data-vv-as=message.password
                :state="validateState('oldpassword')"
                type="password"
                v-model="old_password"
                required
                :placeholder="change_password.old_password_hint"
              ></b-form-input>
              <b-form-invalid-feedback id="oldpassword">{{veeErrors.first('oldpassword')}}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group class="text-body my-3 font-weight-bold" :label="change_password.new_password" style="text-align: start">
              <b-form-input
                name="password"
                v-validate.continues="{required: true, y_password: true}"
                :class="{'is-danger': veeErrors.has('password')}"
                placeholder="Password"
                :data-vv-as=message.password
                ref="password"
                :state="validateState('password')"
                type="password"
                v-model="new_password"
                required
                :placeholder="change_password.password_hint"
              ></b-form-input>
              <b-form-invalid-feedback v-show="veeErrors.has('password')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password') }}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group class="text-body my-3 font-weight-bold" :label="change_password.new_password_conf" style="text-align: start">
              <b-form-input
                v-validate="'required|confirmed:password'"
                name="password_confirmation"
                :class="{'is-danger': veeErrors.has('password_confirmation')}"
                placeholder="Password, Again"
                :data-vv-as=message.password1
                :state="validateState('password_confirmation')"
                type="password"
                v-model="new_password_conf"
                required
                :placeholder="change_password.new_password_hint"
              ></b-form-input>
              <b-form-invalid-feedback v-show="veeErrors.has('password_confirmation')" class="help is-danger" style="text-align: left">{{ veeErrors.first('password_confirmation') }}</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button variant="success" class="my-3 px-5 btn-violet" @click="onSave">{{change_password.button}}</b-button>
      </div>

    </b-container>
  </div>
</template>

<script>
  import {new_email_save, new_password} from '../../api/games/user_dashboad'
    export default {
        name: "change_password",
      data() {
          return {
            username: '',
            new_password_conf: '',
            new_password: '',
            old_password: '',
            message: {
              username: this.$t('message.username'),
              password: this.$t('message.password'),
              password1: this.$t('message.password1'),
              code: this.$t('message.code'),
              hint_win: this.$t('message.hint_win'),
            },
            nav: {
              token: this.$t('nav.token'),
              scopes: this.$t('nav.scopes'),
              usage: this.$t('nav.usage'),
              changelog: this.$t('nav.changelog'),
              center: this.$t('nav.center'),
              authentication:  this.$t('nav.authentication'),
              mailbox_setting: this.$t('nav.mailbox_setting'),
              password_setting: this.$t('nav.password_setting')
            },
            // 修改密码
            change_password: {
              cccount: this.$t('change_password.cccount'),
              cccount_hint: this.$t('change_password.cccount_hint'),
              nickname: this.$t('change_password.nickname'),
              email: this.$t('change_password.email'),
              resetemail: this.$t('change_password.resetemail'),
              title: this.$t('change_password.title'),
              title_hint: this.$t('change_password.title_hint'),
              old_password: this.$t('change_password.old_password'),
              old_password_hint: this.$t('change_password.old_password_hint'),
              password_hint: this.$t('change_password.password_hint'),
              new_password_hint: this.$t('change_password.new_password_hint'),
              new_password: this.$t('change_password.new_password'),
              new_password_conf: this.$t('change_password.new_password_conf'),
              button: this.$t('change_password.button'),
              cancel: this.$t('change_password.cancel')
            }
          }
      },
      mounted() {
          this.username = this.$store.state.user.user.username
      },
      methods: {
        onSaveName() {
          if (this.username) {
            const params = {}
            params['username'] = this.username
            new_password(params).then(res => {
              this.$bvToast.toast(`保存成功`, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
            })
          }else {
            this.$bvToast.toast(`昵称不能为空`, {
              noCloseButton: true,
              variant: 'warning',
              toaster: 'b-toaster-top-center',
              solid: true
            })
          }
        },
        validateState(ref) {
          if (
            this.veeFields[ref] &&
            (this.veeFields[ref].dirty || this.veeFields[ref].validated)
          ) {
            return !this.veeErrors.has(ref);
          }
          return null;
        },
        onSave() {
          this.$validator.validateAll().then(result => {
            if (!result) {
              return;
            }
            const params = {}
            params['original_password'] = this.old_password
            params['password'] = this.new_password
            params['confirm_password'] = this.new_password_conf
            new_password(params).then(res => {
              this.$bvToast.toast(this.message.hint_win, {
                noCloseButton: true,
                variant: 'success',
                toaster: 'b-toaster-top-center',
                solid: true
              })
              this.logout()
            })
          })
        },
        async logout() {
          await this.$store.dispatch('user/logout')
          this.$router.push(`/login`)
        },
      }
    }
</script>

<style scoped>
  @import url(~bootstrap/dist/css/bootstrap.css);
  @import url(~bootstrap-vue/dist/bootstrap-vue.css);
  .y-text-warning {
    color: #F59A23 !important;
  }
  .y-mt-6 {
    /*margin-top: 3rem !important;*/
    padding: 1rem;

  }
  .y-pt-7 {
    padding-top: 7px !important;
  }
</style>
