<template>
  <div class="m-4">
    <b-container>
<!--      <b-nav>-->
<!--        <b-nav-item to="/" >{{nav.token}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/scopes_list/" active-class="y-text-warning">{{nav.scopes}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_usage_list/">{{nav.usage}}</b-nav-item>-->
<!--        <b-nav-item to="/gamecenter/api_changelog_list/">{{nav.changelog}}</b-nav-item>-->
<!--        <b-nav-item-dropdown-->
<!--          toggle-class="y-text-warning"-->
<!--          id="my-nav-dropdown"-->
<!--          :text="nav.center"-->
<!--          right-->
<!--        >-->
<!--          <b-dropdown-item to="/gamecenter/center_list/" >{{nav.authentication}}</b-dropdown-item>-->
<!--&lt;!&ndash;          <b-dropdown-item to="/gamecenter/change_email_list/">{{nav.mailbox_setting}}</b-dropdown-item>&ndash;&gt;-->
<!--          <b-dropdown-item to="/gamecenter/change_password/">{{nav.password_setting}}</b-dropdown-item>-->
<!--        </b-nav-item-dropdown>-->
<!--      </b-nav>-->
    </b-container>
    <div class="m-4" style="text-align: center;padding-top: 200px">
<!--      数据权限-->
      <vab-remix-icon icon-class="开发中" style="width: 300px;height: 300px"/>
    </div>
  </div>

</template>

<script>
    import VabRemixIcon from "../../layouts/components/zx-layouts/VabRemixIcon/index";
    export default {
        name: "scopes_list",
      components: {VabRemixIcon},
      data() {
        return {
          nav: {
            token: this.$t('nav.token'),
            scopes: this.$t('nav.scopes'),
            usage: this.$t('nav.usage'),
            changelog: this.$t('nav.changelog'),
            center: this.$t('nav.center'),
            authentication:  this.$t('nav.authentication'),
            mailbox_setting: this.$t('nav.mailbox_setting'),
            password_setting: this.$t('nav.password_setting')
          }
        }
      }
    }
</script>

<style scoped>
  @import url(~bootstrap/dist/css/bootstrap.css);
  @import url(~bootstrap-vue/dist/bootstrap-vue.css);
  .y-text-warning {
    color: #F59A23 !important;
  }
</style>
