<template>
  <div>
    <el-form label-width="100px">
      <el-row type="flex" class="row-bg">
        <el-col :span="8" :offset="0">
          <el-form-item :label="planTitle.userId" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="8" :offset="0">
          <el-form-item :label="planTitle.email" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="8" :offset="0" style="text-align: end">
          <el-form-item>
            <el-button type="primary" @click="subHistory">{{planTitle.planHistory}}</el-button>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-card  shadow="never" style="border: 1px solid;background-color: #F6F8F9">
      <div slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.currentGames}}</span>
      </div>
      <el-form label-width="100px">
        <div>
          <el-card  shadow="never" body-style="padding: 0 10px 0 0" v-for="(item, index) in currentGamesList" :key="index">
            <el-tag type="info">
              <span>{{item.game_name}}</span>
            </el-tag>
            <el-row type="flex" class="row-bg" style="margin: 5px 0 10px 0;">
              <el-col :span="3" style="text-align: center">
                <div>
                  <div class="item"></div>
                  <el-avatar shape="square" :size="40" fit="cover" :src="item.url" style="background: none"></el-avatar>
                </div>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.dataLevel" prop="name">
                  <el-select v-model="item.level" placeholder="请选择" style="width: 100%;">
                    <el-option
                      v-for="item in level_list"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.from" prop="name">
                  <el-date-picker
                    v-model="item.form"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.to" prop="name">
                  <el-date-picker
                    v-model="item.to"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
          <div style="text-align: center;">
            <el-button type="primary" @click="subUpdate">{{planTitle.update}}</el-button>
          </div>
        </div>
      </el-form>
    </el-card>

    <el-card  shadow="never" style="border: 1px solid;background-color: #F6F8F9">
      <div slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.renewGames}}</span>
      </div>
      <el-form label-width="100px">
        <div>
          <el-card  shadow="never" body-style="padding: 0 10px 0 0" v-for="(item, index) in currentGamesList" :key="index">
            <el-tag type="info">
              <span>{{item.game_name}}</span>
            </el-tag>
            <el-row type="flex" class="row-bg" style="margin: 5px 0 10px 0;">
              <el-col :span="3" style="text-align: center;">
                <div class="item"></div>
                <el-avatar shape="square" :size="40" fit="cover" :src="item.url" style="background: none"></el-avatar>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.dataLevel" prop="name">
                  <el-select v-model="item.level" placeholder="请选择" style="width: 100%;">
                    <el-option
                      v-for="item in level_list"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.from" prop="name">
                  <el-date-picker
                    v-model="item.form"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="7" :offset="0" style="margin-top: 5px">
                <el-form-item :label="planTitle.to" prop="name">
                  <el-date-picker
                    v-model="item.to"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-card>
          <div style="text-align: center;">
            <el-button type="primary" @click="subUpdate">{{planTitle.update}}</el-button>
          </div>
        </div>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
    name: "gamesTmp",
  data() {
    return {
      level_list: [
        {value: '1', label: this.$t('rules.planTitle.dataLevelSon.unsupported')},
        {value: '2', label: this.$t('rules.planTitle.dataLevelSon.basic')},
        {value: '3', label: this.$t('rules.planTitle.dataLevelSon.advanced')},
      ],
      currentGamesList: [
        {game_name: 'CS:GO', url: 'https://img.elementsdata.cn/game_logo/csgo.svg', level: '2', form: '2020-1-1', to: '2022-1-1'},
        {game_name: 'CS:GO', url: 'https://img.elementsdata.cn/game_logo/csgo.svg', level: '2', form: '2020-1-1', to: '2022-1-1'},
        {game_name: 'CS:GO', url: 'https://img.elementsdata.cn/game_logo/csgo.svg', level: '2', form: '2020-1-1', to: '2022-1-1'},
        {game_name: 'CS:GO', url: 'https://img.elementsdata.cn/game_logo/csgo.svg', level: '2', form: '2020-1-1', to: '2022-1-1'},
        {game_name: 'CS:GO', url: 'https://img.elementsdata.cn/game_logo/csgo.svg', level: '2', form: '2020-1-1', to: '2022-1-1'},
      ],
      form: {},
      // 套餐
      planTitle: {
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        whiteList: this.$t('rules.planTitle.whiteList'),
        update: this.$t('rules.planTitle.update'),
        currentPlan: this.$t('rules.planTitle.currentPlan'),
        from: this.$t('rules.planTitle.from'),
        to: this.$t('rules.planTitle.to'),
        currentGames: this.$t('rules.planTitle.currentGames'),
        gameName: this.$t('rules.planTitle.gameName'),
        dataLevel: this.$t('rules.planTitle.dataLevel'),
        dataLevelSon: {
          unsupported: this.$t('rules.planTitle.dataLevelSon.unsupported'),
          basic: this.$t('rules.planTitle.dataLevelSon.basic'),
          advanced: this.$t('rules.planTitle.dataLevelSon.advanced'),
        },
        renewGames: this.$t('rules.planTitle.dataLevel'),
      }
    }
  },
}
</script>

<style scoped>
  .item {
    display: inline-block;
    position: absolute;
    margin-left: 12px;
    text-align: center;
    top: 32px;
    border: 3px  solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #509f57;
  }

</style>
