<template>
<div>
  <el-form label-width="100px">
    <el-row type="flex" class="row-bg">
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.userId" prop="name">
          <el-input v-model="form.name" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.email" prop="name">
          <el-input v-model="form.name" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0" style="text-align: end">
        <el-form-item>
          <el-button type="primary" @click="subHistory">{{planTitle.planHistory}}</el-button>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <div>
    <currentPlanTmp/>
    <renewPlanTmp/>
  </div>
</div>
</template>

<script>
  import currentPlanTmp from "./currentPlanTmp";
  import renewPlanTmp from "./renewPlanTmp";
export default {
    name: "planTmp",
  components: {currentPlanTmp, renewPlanTmp},
  data() {
      return {
        form: {},
        // 套餐
        planTitle: {
          userId: this.$t('rules.planTitle.userId'),
          email: this.$t('rules.planTitle.email'),
          planHistory: this.$t('rules.planTitle.planHistory'),
        }
      }
  },
  methods: {
    subHistory() {

    }
  }
}
</script>

<style scoped>
  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }

</style>
