<template>
  <div>
    <el-card  shadow="never" style="border: 1px solid;background-color: #F6F8F9">
      <div slot="header" class="clearfix">
        <span style="font-weight: bold">{{planTitle.renewPlan}}</span>
      </div>
      <el-form label-width="110px">
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.currentPlan" prop="name">
              <el-select v-model="value" placeholder="请选择" style="width: 100%;">
                <el-option
                  v-for="item in plan_list"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.from" prop="name">
              <el-date-picker
                v-model="form.timeArea"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期"
                style="width:100%"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.to" prop="name">
              <el-date-picker
                v-model="form.timeArea"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期"
                style="width:100%"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg">
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.endpoints" prop="name">
              <el-select v-model="value" placeholder="请选择" style="width: 100%;">
                <el-option
                  v-for="item in endpoints_list"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8" :offset="0">
            <el-form-item :label="planTitle.requestLimit" prop="name">
              <el-select v-model="value" placeholder="请选择" style="width: 100%;">
                <el-option
                  v-for="item in requestLimit_list"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <div>
          <el-tag type="info">
            <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Games</el-checkbox>
          </el-tag>
          <el-card  shadow="never">
            <el-checkbox-group v-model="checkedGames" @change="handleCheckedCitiesChange">
              <div v-for="item in games">
                <el-col :span="8" :offset="0" >
                  <el-form-item>
                    <el-checkbox :label="item" :key="item" style="width: 100%;overflow: hidden" border>{{item}}</el-checkbox>
                  </el-form-item>
                </el-col>
              </div>
            </el-checkbox-group>
          </el-card>
        </div>
        <div v-for="(item, index) in games_list" :key="index">
          <el-tag type="info">
            <el-checkbox :indeterminate="item.isIndeterminate" v-model="item.checkAll" @change="(val)=>subAllChange(val,item)">{{item.game_name}}</el-checkbox>
          </el-tag>
          <el-card  shadow="never">
            <el-checkbox-group v-model="item.data_pitch_on" @change="(value)=>subGameChange(value,item)">
              <div v-for="(info, index) in item.data_list" :key="index">
                <el-col :span="8" :offset="0" >
                  <el-form-item>
                    <el-checkbox :label="info" :key="info" border style="width: 100%;overflow: hidden">{{info}}</el-checkbox>
                  </el-form-item>
                </el-col>
              </div>
            </el-checkbox-group>
          </el-card>
        </div>
      </el-form>
      <div style="text-align: center">
        <el-button type="primary" @click="subUpdate">{{planTitle.update}}</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      games_list: [
        {
          game_name: 'Metadata_lol',
          data_list: ['List champions', 'Get a champion', 'List items', 'Get an item', 'List summoner spells', 'Get a summoner spell', 'List runes', 'Get a rune'],
          data_pitch_on: ['List champions'],
          checkAll: false,
          isIndeterminate: true,
        },
        {
          game_name: 'Metadata_dota2',
          data_list: ['List champions', 'Get a champion', 'List items', 'Get an item', 'List summoner spells', 'Get a summoner spell', 'List runes', 'Get a rune'],
          data_pitch_on: ['List champions'],
          checkAll: false,
          isIndeterminate: true,
        },
        {
          game_name: 'Metadata_csgo',
          data_list: ['List champions', 'Get a champion', 'List items', 'Get an item', 'List summoner spells', 'Get a summoner spell', 'List runes', 'Get a rune'],
          data_pitch_on: ['List champions'],
          checkAll: false,
          isIndeterminate: true,
        },
      ],
      checkAll: false,
      games: ['List games', 'Get a game'],
      checkedGames: ['List games'],
      isIndeterminate: true,
      plan_list: [
        {value: '1', label: this.$t('rules.planTitle.currentPlanSon.unsupported')},
        {value: '2', label: this.$t('rules.planTitle.currentPlanSon.free')},
        {value: '3', label: this.$t('rules.planTitle.currentPlanSon.basic')},
        {value: '4', label: this.$t('rules.planTitle.currentPlanSon.basicPlus')},
        {value: '5', label: this.$t('rules.planTitle.currentPlanSon.professional')},
        {value: '6', label: this.$t('rules.planTitle.currentPlanSon.professionalPlus')},
        {value: '7', label: this.$t('rules.planTitle.currentPlanSon.primaryPlus')},
      ],
      endpoints_list: [
        {value: '1', label: this.$t('rules.planTitle.endpointsSon.default')},
        {value: '2', label: this.$t('rules.planTitle.endpointsSon.customize')},
      ],
      requestLimit_list: [
        {value: '1', label: '0/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '2', label: '1000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '3', label: '3000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '4', label: '5000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '5', label: '10000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '6', label: '20000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
        {value: '7', label: '30000/' + this.$t('rules.planTitle.requestLimitSon.hour')},
      ],
      form: {},
      // 套餐
      planTitle: {
        plan: this.$t('rules.planTitle.plan'),
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        currentPlan: this.$t('rules.planTitle.currentPlan'),
        currentPlanSon: {
          unsupported: this.$t('rules.planTitle.currentPlanSon.unsupported'),
          free: this.$t('rules.planTitle.currentPlanSon.free'),
          basic: this.$t('rules.planTitle.currentPlanSon.basic'),
          basicPlus: this.$t('rules.planTitle.currentPlanSon.basicPlus'),
          professional: this.$t('rules.planTitle.currentPlanSon.professional'),
          professionalPlus: this.$t('rules.planTitle.currentPlanSon.professionalPlus'),
          primaryPlus: this.$t('rules.planTitle.currentPlanSon.primaryPlus'),
        },
        from: this.$t('rules.planTitle.from'),
        to: this.$t('rules.planTitle.to'),
        endpoints: this.$t('rules.planTitle.endpoints'),
        endpointsSon: {
          default: this.$t('rules.planTitle.endpointsSon.default'),
          customize: this.$t('rules.planTitle.endpointsSon.customize'),
        },
        requestLimit: this.$t('rules.planTitle.requestLimit'),
        requestLimitSon: {
          hour: this.$t('rules.planTitle.requestLimitSon.hour'),
          unlimited: this.$t('rules.planTitle.requestLimitSon.unlimited'),
        },
        update: this.$t('rules.planTitle.update'),
        renewPlan: this.$t('rules.planTitle.renewPlan'),
      }
    }
  },
  methods: {
    subUpdate() {
      this.$confirm('续费当前套餐, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$message({
          type: 'success',
          message: '更新成功!'
        });
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消'
        });
      });

    },
    handleCheckAllChange(val) {
      this.checkedGames = val ? this.games : [];
      this.isIndeterminate = false;
    },
    handleCheckedCitiesChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.games.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.games.length;
    },
    subAllChange(val, item) {
      item.data_pitch_on = val ? item.data_list : [];
      item.isIndeterminate = false;
    },
    subGameChange(value, item) {
      let checkedCount = value.length;
      item.checkAll = checkedCount === item.data_list.length;
      item.isIndeterminate = checkedCount > 0 && checkedCount < item.data_list.length;
    }
  }
}
</script>

<style scoped>

</style>
