<template>
<div>
  <el-form label-width="100px">
    <el-row type="flex" class="row-bg">
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.userId" prop="name">
          <el-input v-model="form.name" disabled/>
        </el-form-item>
      </el-col>
      <el-col :span="8" :offset="0">
        <el-form-item :label="planTitle.email" prop="name">
          <el-input v-model="form.name" disabled/>
        </el-form-item>
      </el-col>
    </el-row>
    <div>
      <el-tag type="info">
        <span>{{planTitle.whiteList}}</span>
      </el-tag>
      <el-card  shadow="never">
      </el-card>
      <div style="text-align: center">
        <el-button type="primary" @click="subUpdate">{{planTitle.update}}</el-button>
      </div>
    </div>
  </el-form>
</div>
</template>

<script>
export default {
    name: "whiteList",
  data() {
    return {
      form: {},
      // 套餐
      planTitle: {
        userId: this.$t('rules.planTitle.userId'),
        email: this.$t('rules.planTitle.email'),
        planHistory: this.$t('rules.planTitle.planHistory'),
        whiteList: this.$t('rules.planTitle.whiteList'),
        update: this.$t('rules.planTitle.update'),
      }
    }
  },
}
</script>

<style scoped>

</style>
