<template>
<div class="table-container">
  <el-form>
    <el-row type="flex" class="row-bg">
      <el-col :span="6" :offset="0">
        <el-form-item :label="planTitle.userId" prop="name">
          <el-input v-model="form.name" disabled style="width: 220px"/>
        </el-form-item>
      </el-col>
      <el-col :span="6" :offset="0">
        <el-form-item :label="planTitle.email" prop="name">
          <el-input v-model="form.name" disabled style="width: 220px"/>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <el-card shadow="never">
    <el-form :inline="true" label-width="130px" size="mini">
      <el-row type="flex" class="row-bg">
        <el-col :span="6">
          <el-form-item :label="privateTournament.game">
            <el-select v-model="form.games" style="width: 220px" placeholder="请选择">
              <el-option
                v-for="(item,index) in allgames"
                :key="index"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="privateTournament.tournamentName">
            <el-input v-model="form.name" style="width: 220px" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="privateTournament.tournametId">
            <el-input v-model="form.nick_name" style="width: 220px" />
          </el-form-item>
        </el-col>
        <el-col :span="6" style="text-align: end">
          <el-form-item>
            <el-button type="primary" @click="fetchData">{{privateTournament.search}}</el-button>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row style="margin-top: 30px">
        <el-col :span="24">
          <el-form-item :label="privateTournament.tournament">
            <el-select v-model="form.games" style="width: 500px" placeholder="请选择">
              <el-option
                v-for="(item,index) in allgames"
                :key="index"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-card shadow="never" style="margin: 0 90px">
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.tournametId">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.game">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.tournamentName">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.icon">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.scheduledBeginAt">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.scheduledEndAt">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.status">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.isPrivate">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.publicDelay">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.publicDataLevel">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" class="row-bg" justify="center">
          <el-col :span="11" >
            <el-form-item :label="privateTournament.hasPrivateDelay">
              <el-input v-model="form.name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item :label="privateTournament.privateDelaySecond">
              <el-input v-model="form.nick_name" style="width: 400px" disabled/>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <el-row type="flex" class="row-bg" justify="center" style="margin: 30px 0 40px 0">
        <el-col :span="8" >
          <el-form-item :label="privateTournament.privateDelay">
            <el-select v-model="form.games" placeholder="请选择">
              <el-option
                v-for="(item,index) in privateDelayList"
                :key="index"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="1"></el-col>
        <el-col :span="8">
          <el-form-item :label="privateTournament.privateDataLevel">
            <el-select v-model="form.games" placeholder="请选择">
              <el-option
                v-for="(item,index) in privateDataLevelList"
                :key="index"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <div style="text-align: center">
        <el-button type="primary">{{privateTournament.add}}</el-button>
      </div>
    </el-form>
  </el-card>
</div>
</template>

<script>
    export default {
        name: "add",
      data() {
          return {
            allgames: [],
            form: {},
            planTitle: {
              userId: this.$t('rules.planTitle.userId'),
              email: this.$t('rules.planTitle.email'),
              planHistory: this.$t('rules.planTitle.planHistory'),
            },
            privateDelayList: [
              {id: '1', name: this.$t('rules.privateTournament.privateDelaySon.public') },
              {id: '2', name: this.$t('rules.privateTournament.privateDelaySon.advantage') },
              {id: '3', name: this.$t('rules.privateTournament.privateDelaySon.private') },
              {id: '4', name: this.$t('rules.privateTournament.privateDelaySon.unlimited') },
            ],
            privateDataLevelList: [
              {id: '1', name: this.$t('rules.privateTournament.privateDataLevelSon.basic') },
              {id: '2', name: this.$t('rules.privateTournament.privateDataLevelSon.advanced') },
            ],
            // 私有赛事
            privateTournament: {
              privateTournament: this.$t('rules.privateTournament.privateTournament'),
              userId: this.$t('rules.privateTournament.userId'),
              email: this.$t('rules.privateTournament.email'),
              game: this.$t('rules.privateTournament.game'),
              gameSon: {
                all: this.$t('rules.privateTournament.gameSon.all'),
              },
              status: this.$t('rules.privateTournament.status'),
              statusSon: {
                all: this.$t('rules.privateTournament.statusSon.all'),
                upcoming: this.$t('rules.privateTournament.statusSon.upcoming'),
                ongoing: this.$t('rules.privateTournament.statusSon.ongoing'),
                completed: this.$t('rules.privateTournament.statusSon.completed'),
              },
              scheduledBeginAt: this.$t('rules.privateTournament.scheduledBeginAt'),
              scheduledEndAt: this.$t('rules.privateTournament.scheduledEndAt'),
              tournamentName: this.$t('rules.privateTournament.tournamentName'),
              tournametId: this.$t('rules.privateTournament.tournametId'),
              add: this.$t('rules.privateTournament.add'),
              search: this.$t('rules.privateTournament.search'),
              icon: this.$t('rules.privateTournament.icon'),
              publicDelay: this.$t('rules.privateTournament.publicDelay'),
              publicDataLevel: this.$t('rules.privateTournament.publicDataLevel'),
              privateDelay: this.$t('rules.privateTournament.privateDelay'),
              privateDelaySon: {
                public: this.$t('rules.privateTournament.privateDelaySon.public'),
                advantage: this.$t('rules.privateTournament.privateDelaySon.advantage'),
                private: this.$t('rules.privateTournament.privateDelaySon.private'),
                unlimited: this.$t('rules.privateTournament.privateDelaySon.unlimited'),
              },
              privateDataLevel: this.$t('rules.privateTournament.privateDataLevel'),
              privateDataLevelSon: {
                basic: this.$t('rules.privateTournament.privateDelaySon.privateDataLevelSon'),
                advanced: this.$t('rules.privateTournament.privateDelaySon.advanced'),
              },
              setingCreatedAt: this.$t('rules.privateTournament.setingCreatedAt'),
              setingModifieldAt: this.$t('rules.privateTournament.setingModifieldAt'),
              logs: this.$t('rules.privateTournament.logs'),
              operations: this.$t('rules.privateTournament.operations'),
              edit: this.$t('rules.privateTournament.edit'),
              delete: this.$t('rules.privateTournament.delete'),
              tournament: this.$t('rules.privateTournament.tournament'),
              isPrivate: this.$t('rules.privateTournament.isPrivate'),
              isPrivateSon: {
                true: this.$t('rules.privateTournament.isPrivateSon.true'),
                false: this.$t('rules.privateTournament.isPrivateSon.false'),
              },
              hasPrivateDelay: this.$t('rules.privateTournament.hasPrivateDelay'),
              privateDelaySecond: this.$t('rules.privateTournament.privateDelaySecond'),
            },
          }
      }
    }
</script>

<style scoped>

</style>
