<template>
<div class="table-container">
  <el-form :data="req" :inline="true" label-width="100px" size="mini">
    <el-row>
      <el-col :span="6">
        <el-form-item :label=titleName.createdAt>
          <el-date-picker
            v-model="req.timeArea"
            type="daterange"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            style="width:220px"
          />
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item :label="titleName.modifiedAt">
          <el-date-picker
            v-model="req.timeArea"
            type="daterange"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            style="width:220px"
          />
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item :label="titleName.email">
          <el-input v-model="req.name" style="width: 220px" />
        </el-form-item>
      </el-col>
      <el-col :span="6">
        <el-form-item :label="titleName.userId">
          <el-input v-model="req.nick_name" style="width: 220px" />
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="24" style="text-align: end">
        <el-form-item>
          <el-button type="primary" @click="fetchData">{{titleName.search}}</el-button>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
  <el-table
    ref="tableSort"
    :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',}"
    :cell-style="{textAlign:'center', padding:'3px'}"
    v-loading="listLoading"
    :data="list"
    :element-loading-text="elementLoadingText"
  >
    <el-table-column show-overflow-tooltip :label="titleName.userId" width="95">
      <template #default="scope">
        {{ scope.$index + 1 }}
      </template>
    </el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.email" prop="title"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.plan" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.plan" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.expirationTime" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.isRenewed" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.games" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.requestLimit" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.createdAt" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.modifiedAt" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.logs" prop="author"></el-table-column>
    <el-table-column show-overflow-tooltip :label="titleName.operations" width="150px">
      <template #default="{ row }">
        <router-link :to="{path:'/elementsdata/clientRules/detail',query:{row}}" style="margin: 0 10px;">
          <el-button type="text"  style="">{{titleName.accountAuthority}}</el-button>
        </router-link>
        <div>
          <el-button type="text" @click="subPrivateTournament(row)" style="">{{titleName.privateTournament}}</el-button>
        </div>
        <el-button type="text" @click="subDetail(row)" style="">{{titleName.detail}}</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination
    :background="background"
    :current-page="queryForm.pageNo"
    :layout="layout"
    :page-size="queryForm.pageSize"
    :total="total"
    @current-change="handleCurrentChange"
    @size-change="handleSizeChange"
  ></el-pagination>
<!--  用户详情-->
  <el-dialog
    :title="userTitle.detail"
    :visible.sync="dialogVisible"
    width="50%"
    >
    <el-form >
      <el-row type="flex" class="row-bg" :gutter="40">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.userId" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>

      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.email" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.displayName">
            <el-input v-model="form.full_name" disabled/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.mobile" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.phone">
            <el-input v-model="form.full_name" disabled/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row type="flex" class="row-bg" :gutter="60">
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.country" prop="name">
            <el-input v-model="form.name" disabled/>
          </el-form-item>
        </el-col>
        <el-col :span="12" :offset="0">
          <el-form-item :label="userTitle.timeZone">
            <el-input v-model="form.full_name" disabled/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">{{userTitle.close}}</el-button>
  </span>
  </el-dialog>
</div>
</template>

<script>
    export default {
        name: "index",
      data() {
          return {
            dialogVisible: false,
            form: {},
            req: {
            },
            layout: 'total, sizes, prev, pager, next, jumper',
            total: 0,
            queryForm: {
              pageNo: 1,
              pageSize: 20,
              title: '',
            },
            background: true,
            elementLoadingText: '正在加载...',
            listLoading: true,
            list: [
              {title: '100',author: '20ssdvfkfdanvdalkvklsfk0'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
              {title: '100',author: '200'},
            ],
            titleName: {
              createdAt: this.$t('rules.index.createdAt'),
              modifiedAt: this.$t('rules.index.modifiedAt'),
              email: this.$t('rules.index.email'),
              userId: this.$t('rules.index.userId'),
              search: this.$t('rules.index.search'),
              plan: this.$t('rules.index.plan'),
              expirationTime: this.$t('rules.index.expirationTime'),
              isRenewed: this.$t('rules.index.isRenewed'),
              games: this.$t('rules.index.games'),
              requestLimit: this.$t('rules.index.requestLimit'),
              logs: this.$t('rules.index.logs'),
              operations: this.$t('rules.index.operations'),
              detail: this.$t('rules.index.detail'),
              accountAuthority: this.$t('rules.index.accountAuthority'),
              privateTournament: this.$t('rules.index.privateTournament'),
            },
            //用户详情
            userTitle: {
              detail: this.$t('rules.userTitle.detail'),
              userId: this.$t('rules.userTitle.userId'),
              email: this.$t('rules.userTitle.email'),
              displayName: this.$t('rules.userTitle.displayName'),
              mobile: this.$t('rules.userTitle.mobile'),
              phone: this.$t('rules.userTitle.phone'),
              country: this.$t('rules.userTitle.country'),
              timeZone: this.$t('rules.userTitle.timeZone'),
              close: this.$t('rules.userTitle.close'),
            }
          }
      },
      mounted() {
          this.fetchData()
      },
      methods: {
        subPrivateTournament(row) {
          this.$router.push({ path: '/elementsdata/clientRules/privateTournament' })
        },
        subDetail() {
          this.dialogVisible = true
        },
        handleSizeChange(val) {
          this.queryForm.pageSize = val
          this.fetchData()
        },
        handleCurrentChange(val) {
          this.queryForm.pageNo = val
          this.fetchData()
        },
        fetchData() {
          this.listLoading = true
          // const { data, totalCount } = await getList(this.queryForm)
          // this.list = data
          // const imageList = []
          // data.forEach((item, index) => {
          //   imageList.push(item.img)
          // })
          // this.imageList = imageList
          // this.total = totalCount
          setTimeout(() => {
            this.listLoading = false
          }, 500)
        }
      }
    }
</script>

<style scoped>

</style>
