<template>
  <div class="table-container">
    <el-form>
      <el-row type="flex" class="row-bg">
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.userId" prop="name">
            <el-input v-model="form.name" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
        <el-col :span="6" :offset="0">
          <el-form-item :label="planTitle.email" prop="name">
            <el-input v-model="form.name" disabled style="width: 220px"/>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-card shadow="never">
      <el-form :data="req" :inline="true" label-width="100px" size="mini">
        <el-row type="flex" class="row-bg">
          <el-col :span="6">
            <el-form-item :label="privateTournament.game">
              <el-select v-model="req.games" style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allgames"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.status">
              <el-select v-model="req.status" filterable style="width: 220px" placeholder="请选择">
                <el-option
                  v-for="(item,index) in allstatus"
                  :key="index"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournamentName">
              <el-input v-model="req.name" style="width: 220px" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.tournametId">
              <el-input v-model="req.nick_name" style="width: 220px" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item :label=privateTournament.scheduledBeginAt>
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item :label="privateTournament.scheduledEndAt">
              <el-date-picker
                v-model="req.timeArea"
                type="daterange"
                value-format="yyyy-MM-dd"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                style="width:220px"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12" style="text-align: end">
            <el-form-item>
              <el-button  @click="subAdd">{{privateTournament.add}}</el-button>
              <el-button type="primary" @click="fetchData">{{privateTournament.search}}</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-table
        ref="tableSort"
        :header-cell-style="{textAlign:'center',color:'#606266',background:'#eef1f6',}"
        :cell-style="{textAlign:'center', padding:'3px'}"
        v-loading="listLoading"
        :data="list"
        :element-loading-text="elementLoadingText"
      >
        <el-table-column show-overflow-tooltip :label="privateTournament.tournametId" width="95">
          <template #default="scope">
            {{ scope.$index + 1 }}
          </template>
        </el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.tournamentName" prop="title"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.icon" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.game" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.scheduledBeginAt" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.scheduledEndAt" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.status" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.publicDelay" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.publicDataLevel" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.privateDelay" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.privateDataLevel" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.setingCreatedAt" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.setingModifieldAt" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.logs" prop="author"></el-table-column>
        <el-table-column show-overflow-tooltip :label="privateTournament.operations" width="150px">
          <template #default="{ row }">
            <div>
              <el-button type="text" @click="subPrivateTournamentEdit(row)" >{{privateTournament.edit}}</el-button>
            </div>
            <el-button type="text" @click="subDelete(row)" style="color: coral">{{privateTournament.delete}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        :background="background"
        :current-page="queryForm.pageNo"
        :layout="layout"
        :page-size="queryForm.pageSize"
        :total="total"
        @current-change="handleCurrentChange"
        @size-change="handleSizeChange"
      ></el-pagination>
    </el-card>
  </div>
</template>

<script>
  export default {
    name: "index",
    data() {
      return {
        form: {},
        req: {
        },
        layout: 'total, sizes, prev, pager, next, jumper',
        total: 0,
        queryForm: {
          pageNo: 1,
          pageSize: 20,
          title: '',
        },
        background: true,
        elementLoadingText: '正在加载...',
        listLoading: true,
        list: [
          {title: '100',author: '20ssdvfkfdanvdalkvklsfk0'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
          {title: '100',author: '200'},
        ],
        allgames: [],
        allstatus: [
          {id: '1', name: this.$t('rules.privateTournament.statusSon.all') },
          {id: '2', name: this.$t('rules.privateTournament.statusSon.upcoming') },
          {id: '3', name: this.$t('rules.privateTournament.statusSon.ongoing') },
          {id: '4', name: this.$t('rules.privateTournament.statusSon.completed') },
        ],
        // 私有赛事
        privateTournament: {
          privateTournament: this.$t('rules.privateTournament.privateTournament'),
          userId: this.$t('rules.privateTournament.userId'),
          email: this.$t('rules.privateTournament.email'),
          game: this.$t('rules.privateTournament.game'),
          gameSon: {
            all: this.$t('rules.privateTournament.gameSon.all'),
          },
          status: this.$t('rules.privateTournament.status'),
          statusSon: {
            all: this.$t('rules.privateTournament.statusSon.all'),
            upcoming: this.$t('rules.privateTournament.statusSon.upcoming'),
            ongoing: this.$t('rules.privateTournament.statusSon.ongoing'),
            completed: this.$t('rules.privateTournament.statusSon.completed'),
          },
          scheduledBeginAt: this.$t('rules.privateTournament.scheduledBeginAt'),
          scheduledEndAt: this.$t('rules.privateTournament.scheduledEndAt'),
          tournamentName: this.$t('rules.privateTournament.tournamentName'),
          tournametId: this.$t('rules.privateTournament.tournametId'),
          add: this.$t('rules.privateTournament.add'),
          search: this.$t('rules.privateTournament.search'),
          icon: this.$t('rules.privateTournament.icon'),
          publicDelay: this.$t('rules.privateTournament.publicDelay'),
          publicDataLevel: this.$t('rules.privateTournament.publicDataLevel'),
          privateDelay: this.$t('rules.privateTournament.privateDelay'),
          privateDelaySon: {
            public: this.$t('rules.privateTournament.privateDelaySon.public'),
            advantage: this.$t('rules.privateTournament.privateDelaySon.advantage'),
            private: this.$t('rules.privateTournament.privateDelaySon.private'),
            unlimited: this.$t('rules.privateTournament.privateDelaySon.unlimited'),
          },
          privateDataLevel: this.$t('rules.privateTournament.privateDataLevel'),
          privateDataLevelSon: {
            basic: this.$t('rules.privateTournament.privateDelaySon.privateDataLevelSon'),
            advanced: this.$t('rules.privateTournament.privateDelaySon.advanced'),
          },
          setingCreatedAt: this.$t('rules.privateTournament.setingCreatedAt'),
          setingModifieldAt: this.$t('rules.privateTournament.setingModifieldAt'),
          logs: this.$t('rules.privateTournament.logs'),
          operations: this.$t('rules.privateTournament.operations'),
          edit: this.$t('rules.privateTournament.edit'),
          delete: this.$t('rules.privateTournament.delete'),
          tournament: this.$t('rules.privateTournament.tournament'),
          isPrivate: this.$t('rules.privateTournament.isPrivate'),
          isPrivateSon: {
            true: this.$t('rules.privateTournament.isPrivateSon.true'),
            false: this.$t('rules.privateTournament.isPrivateSon.false'),
          },
          hasPrivateDelay: this.$t('rules.privateTournament.hasPrivateDelay'),
          privateDelaySecond: this.$t('rules.privateTournament.privateDelaySecond'),
        },
        planTitle: {
          userId: this.$t('rules.planTitle.userId'),
          email: this.$t('rules.planTitle.email'),
          planHistory: this.$t('rules.planTitle.planHistory'),
        },
      }
    },
    mounted() {
      this.fetchData()
    },
    methods: {
      subDelete() {
        this.$confirm('删除此赛事, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$message({
            type: 'success',
            message: '删除成功!'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      subAdd() {
        this.$router.push({ path: '/elementsdata/clientRules/add'})
      },
      subPrivateTournamentEdit(row) {
        this.$router.push({ path: '/elementsdata/clientRules/edit' })
      },
      handleSizeChange(val) {
        this.queryForm.pageSize = val
        this.fetchData()
      },
      handleCurrentChange(val) {
        this.queryForm.pageNo = val
        this.fetchData()
      },
      fetchData() {
        this.listLoading = true
        // const { data, totalCount } = await getList(this.queryForm)
        // this.list = data
        // const imageList = []
        // data.forEach((item, index) => {
        //   imageList.push(item.img)
        // })
        // this.imageList = imageList
        // this.total = totalCount
        setTimeout(() => {
          this.listLoading = false
        }, 500)
      }
    }
  }
</script>

<style scoped>

</style>
