<template>
  <div class="yangjian-container"></div>
</template>

<script>
  export default {
    name: 'Yangjian',
    components: {},
    data() {
      return {}
    },
    created() {},
    mounted() {},
    methods: {},
  }
</script>
